<div class="container">
    <h1>Add Pet</h1>

    <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-group">
            <mat-label>Name</mat-label>
            <input name="name" matInput formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Type</mat-label>
            <input name="type" matInput formControlName="type" required>
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Race</mat-label>
            <input name="race" matInput formControlName="race" required>
        </mat-form-field>
        
        <mat-form-field class="form-group">
            <mat-label>Age</mat-label>
            <input name="age" matInput type="number" placeholder="Ex. 18" formControlName="age" required>
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Owner</mat-label>
            <mat-select formControlName="owner">
                <mat-option *ngFor="let user of usersCollection" [value]="user._id" required>
                  {{ user.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-button color="primary" type="submit">Registrar</button>
    </form>

</div>

