<div class="container">
    <h1>Pet Shop</h1>

    <div class="content">
        <p>Full stack project manager of a pet shop using Nodejs (javascript framework) as Rest api backend, Angularjs as javascript framework as frontend and MongoDB (non-relational database)</p>
        
        <div class="buttons">
            <button mat-button routerLink="users" color="primary">List users</button>
            <button mat-button routerLink="pets" color="primary">List pets</button>
            <button mat-button routerLink="addpet" color="primary">Add user</button>
            <button mat-button routerLink="adduser" color="primary">Add pet</button>
        </div>
    </div>
</div>
